body{
	background: white;
}
header {
  background: #323232;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    display: inline-block;
    min-width: 13%;
  }
  div {
    display: flex;
    justify-content: center;
  }
  a {
    color: #fff;
    font-weight: 700;
    font-family: Lato;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    &:hover {
      color: #2eb398;
    }
  }
}

.triangle {
  display: flex;
  justify-content: center;
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 40px solid #323232;
}

#portfolio {
  padding: 7%;
}


#about {
  background-color: #2eb398;
  padding: 3% 7%;
  > div {
    padding:3%;
    border-right: 1px solid  #219d84;
    border-left: 1px solid  #219d84;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
      padding: 0 2%;
      h1{
        color: #d7fcf5;
        font-family: "Maven Pro Regular";
        font-size: 30px;
        font-weight: 400;
        line-height: 5px;
        margin:0 0 15px 0;

      }
      h3{
        color: #20816d;
        font-family: "Maven Pro Regular";
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 15px;
      }
      p{
        width: 78%;
        color: #d7fcf5;
        font-family: Lato;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
      }
    }  
  }
}
.icons{
    float: right;
    margin: 3% 22% 0 0;
}

#get {
  background-color: #323232;
  padding:3% 7%;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    > div{
      display: flex;
      flex-direction:column;
        h2{
          color: #e0e0e0;
          font-family: "Maven Pro Regular";
          font-size: 30px;
          font-weight: 400;
          line-height: 5px;
        }
        h4{
          color: #bebebe;
          font-family: "Maven Pro Regular";
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
          margin: 10px 0 20px 0;
        }
        input{
          max-width: 100%;
          height: 38px;
          background-color: #454545;
          border: none;
          margin-bottom: 16px;
        }
        textarea{
          width: 580px;
          height: 150px;
          background-color: #454545;
          border:none;
          margin-bottom: 16px;
        }
        button{
          width: 90px;
          height: 37px;
          background-color: #2eb398;
          border:none;
          margin-left: 84.5%;
          color: #fff;

        }
    }
    > div{
       .form-text{
          width: 180px;
          font-family: Lato;
          font-size: 12px;
          line-height: 22px;
          color: #bebebe;
          font-weight: 400;
          margin:-87px 0 35px 20px;
          b{
            color: #e0e0e0;
            font-weight: 900;
          }
       }
       .contact{
          padding-left: 20px;
         p {
            color: #bebebe;
            font-family: Lato;
            font-size: 12px;
            font-weight: 700;
            line-height: 22px;
            img{
              margin-right: 8px;
            }
         }
       }
    }
  }
}
footer{
  max-width: 100%;
  height: 25px;
  background-color: #222222;
  padding: 22px 0 0 20px;
  p{
    color: #454545;
    font-family: "Maven Pro Regular";
    font-size: 13px;
    font-weight: 400;
    line-height: 5px;
  }
}
@media only screen and (max-width: 800px){
  #get{
    > div{
      flex-direction:column;
      > div{
        margin-bottom: 20%;
        input{
          width: 100%;
        }
        textarea{
          width: 100%;
        }
      }
    }
  }
}